# Predicting Student Admissions

Here we predict student admissions to graduate school at UCLA based on three pieces of data:
- GRE Scores (exam)
- GPA Scores (grades)
- Class rank (1-4)

In [9]:
# Imports
import pandas as pd
import numpy as np
from keras.models import Sequential
from keras.layers.core import Dense, Dropout, Activation
from keras.optimizers import SGD
from keras.utils import np_utils

In [10]:
# Reading the data (using Pandas)
data = pd.read_csv('http://www.ats.ucla.edu/stat/data/binary.csv')
data

     admit  gre   gpa  rank
0        0  380  3.61     3
1        1  660  3.67     3
2        1  800  4.00     1
3        1  640  3.19     4
4        0  520  2.93     4
5        1  760  3.00     2
6        1  560  2.98     1
7        0  400  3.08     2
8        1  540  3.39     3
9        0  700  3.92     2
10       0  800  4.00     4
11       0  440  3.22     1
12       1  760  4.00     1
13       0  700  3.08     2
14       1  700  4.00     1
15       0  480  3.44     3
16       0  780  3.87     4
17       0  360  2.56     3
18       0  800  3.75     2
19       1  540  3.81     1
20       0  500  3.17     3
21       1  660  3.63     2
22       0  600  2.82     4
23       0  680  3.19     4
24       1  760  3.35     2
25       1  800  3.66     1
26       1  620  3.61     1
27       1  520  3.74     4
28       1  780  3.22     2
29       0  520  3.29     1
..     ...  ...   ...   ...
370      1  540  3.77     2
371      1  680  3.76     3
372      1  680  2.42     1
373      1  620  3.37     1
374      0  560  3.78     2
375      0  560  3.49     4
376      0  620  3.63     2
377      1  800  4.00     2
378      0  640  3.12     3
379      0  540  2.70     2
380      0  700  3.65     2
381      1  540  3.49     2
382      0  540  3.51     2
383      0  660  4.00     1
384      1  480  2.62     2
385      0  420  3.02     1
386      1  740  3.86     2
387      0  580  3.36     2
388      0  640  3.17     2
389      0  640  3.51     2
390      1  800  3.05     2
391      1  660  3.88     2
392      1  600  3.38     3
393      1  620  3.75     2
394      1  460  3.99     3
395      0  620  4.00     2
396      0  560  3.04     3
397      0  460  2.63     2
398      0  700  3.65     2
399      0  600  3.89     3

[400 rows x 4 columns]

In [11]:
# One-hot encoding the rank
data = pd.get_dummies(data, columns=['rank'])

# Normalizing the gre and the gpa scores to be in the interval (0,1)
data["gre"] = data["gre"]/800
data["gpa"] = data["gpa"]/4

# Splitting the input into X, and the output into y 
X = np.array(data)[:,1:]
y = np_utils.to_categorical(np.array(data["admit"]))

In [15]:
# Checking the sizes of the input and output
print(X.shape)
print(y.shape)

(400, 6)
(400, 2)

In [34]:
# Building the model
model = Sequential()
model.add(Dense(512, input_dim=6))
model.add(Activation('tanh'))
model.add(Dense(2))
model.add(Activation('sigmoid'))
model.compile(loss = 'categorical_crossentropy', optimizer='rmsprop', metrics=['accuracy'])
model.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_15 (Dense)             (None, 512)               3584
_________________________________________________________________
activation_14 (Activation)   (None, 512)               0
_________________________________________________________________
dense_16 (Dense)             (None, 2)                 1026
_________________________________________________________________
activation_15 (Activation)   (None, 2)                 0
=================================================================
Total params: 4,610.0
Trainable params: 4,610.0
Non-trainable params: 0.0
_________________________________________________________________

In [35]:
# Training the model
model.fit(X, y, epochs=1000, batch_size=100, verbose=0)

In [37]:
# Evaluating the model
score = model.evaluate(X, y)
print("\nAccuracy:", score[1])

 32/400 [=>............................] - ETA: 0s
Accuracy: 0.72